#team-parent {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.team {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.depart-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.department {
  width: 100%;
  font-size: 2rem;
  font-family: 'Oxygen';
  font-weight: 800;
  cursor: pointer;
  margin: 5px 0px;
}

.selected {
  color: #fc0404;
}

.photos {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 250px;
  border-radius: 30px;
  border: 3px solid #fc0404;
}

.details {
  width: 100%;
  text-align: center;
}

.name {
  font-size: 1.5rem;
  font-family: 'Raleway';
  font-weight: 600;
  margin: 20px 0px 10px 0px;
}

.number {
  font-family: 'Oxygen';
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .team {
    grid-template-columns: auto;
  }
  .photos {
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .team {
    grid-template-columns: auto;
  }
  .depart-name {
    width: max-content;
  }
  .department {
    font-size: 1.3rem;
    width: max-content;
  }
  .photos {
    grid-template-columns: auto;
  }
  .image {
    width: 250px;
  }
}

@media (max-width: 320px) {
  .image {
    width: 200px;
  }
}
