.nostyle:link:not(#exclude),
.nostyle:visited:not(#exclude) {
  text-decoration: none;
  font-weight: bold;
  color: #03a99d;
  cursor: pointer;
}

@media only screen and (min-width: 304px) and (max-width: 400px) and (min-height: 701px) and (max-height: 813px) {
  #devsoc {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -25vh;
  }
  #nirman {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -25vh;
  }
}

@media only screen and (min-width: 304px) and (max-width: 400px) and (min-height: 569px) and (max-height: 701px) {
  #devsoc {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -22vh;
  }
  #nirman {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -22vh;
  }
}

@media only screen and (min-width: 271px) and (max-width: 304px) and (min-height: 516px) and (max-height: 569px) {
  #devsoc {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -22vh;
  }
  #nirman {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: -22vh;
  }
}
