.slideshow0 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/MOJ Logo 1.png');
}

.slideshow1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/sun.png');
}

.slideshow2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/hafdfppy 1.png');
}

.slideshow3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/love 1.png');
}

.slideshow4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/letter.png');
}

.slideshow5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/happy 1.png');
}

.slideshow6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/hands.png');
}

.slideshow7 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/nirmaan.png');
}

.slideshow8 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #ef4646;
  border: 2px solid #ef4646;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('./../../imageassets/DevSoc.png');
}

#mid1 {
  transform: scale(0.6);
}
#mid2 {
  transform: scale(0.6);
}
#mid3 {
  transform: scale(0.39);
}
#mid4 {
  transform: scale(0.36);
}
#mid5 {
  margin-top: -1.4vh;
  transform: scale(0.36);
}
#mid6 {
  transform: scale(0.36);
}
#mid8 {
  transform: scale(0.7);
}
@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 950px) {
  #mid5 {
    transform: scale(0.46);
    margin-top: 2.6vmin;
  }
}

@media only screen and (min-width: 550px) {
  #mid6 {
    bottom: 65vh;
  }
}

@media only screen and (min-width: 1660px) {
  #mid0 {
    transform: scale(0.8);
  }
}

@media only screen and (min-width: 1060px) {
  #mid8 {
    transform: scale(1.25);
  }
}

@media only screen and (max-width: 470px) {
  #mid7 {
    transform: scale(1.85);
  }
  #mid8 {
    transform: scale(1.25);
  }
}
