.crux1{
    position: absolute;
    height: 10vh;
    width: 100%;
}
#color1{
    background: #FFFDE8; 
    padding-top: 0px;
    position: absolute;
    margin-top: 65px;
    height:89vmin;
    width:100%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 22px #EF4646 solid;
}
.set1{
    position: relative;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:#FFFDE8;
  }
.terov1{
    width: 100%;
    background: #FFFDE8; 
    margin-top: 1.2vh;
    height:99vh;
    overflow-y: scroll;   
}
 .clue{
     position: relative;
     background-color: #EF4646;
 }
.c1{
    margin-top: 2vh;
    padding:2.2vw;
}
.hexad{
    margin-top:2vh;
    height: 2vh;
    width:100vw;
} 
.hexad1{
    height: 2vh;
    width:100vw;
    color: #EF4646;
} 
.fix{
    height: 12vh;
    background: #FFFDE8; 
} 

@media only screen and (min-width: 120px) and (max-width: 1940px){
    #cross{
        transform: scale(0.90); 
    }
    #kraus{
        transform: scale(0.80);  
    }
}
.terov1::-webkit-scrollbar {
    width: 3vw;
  }

.terov1::-webkit-scrollbar-track {
    display: none;
    max-height: 2vh;
  }  

.terov1::-webkit-scrollbar-thumb {
    background:#EF4646;
    height: 2vh;
    border-radius: 9vw;
    border: 1vw #FFFDE8 solid;
  } 
.terov1::-webkit-scrollbar-button {
    width: 29vw; 
  }
.ter{
    margin-left:87vw;
    background-color:#FFFDE8;
}
@media only screen and (min-width: 1410px){
    .ter{
        position: -webkit-sticky;
        position:sticky;
        margin-left:83vw;
    }
}   
@media only screen and (min-width: 1590px){
    .ter{
        position: -webkit-sticky;
        position:sticky;
        margin-left:80vw;
    }
} 

.margi1{
    transform: scale(1.04,1.29);
    border-radius: 10px;
    width: 100%;
    padding-bottom: 2vh;
}

.tetris{
    background: #EF4646;
}

.margi{
        transform: scale(1.04,1.29);
        border-radius: 10px;
        width: 100%;
}

.mark{
    margin-bottom: 10px;
}

.color{
    background: #FFFDE8; 
    padding-top: 0px;
    position: absolute;
    margin-top:69px ;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}



.rad{
    margin-top: 23px;
    border-radius: 10px;
    transform: scale(1.25);
}
.rad1{
    margin-top: 23px;
    border-radius: 10px;
    transform: scale(1.25);
}
.tera{
    transform: scale(3.1);
}
@media only screen and (min-width: 600px) and (max-width: 720px){
    .tera{
        transform: scale(2.5);
        margin-top: -1.3rem;
    }
}
@media only screen and (min-width: 120px) and (max-width: 619px){
    .tera{
        transform: scale(2.5);
        margin-top: -1.5rem;
        margin-left: -1.5rem;
    }
}
