#parent {
  overflow-wrap: break-word;
  font-family: 'Oxygen';
  color: '#FFFDE8';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

#list {
  float: left;
  font-family: 'Oxygen';
}

.nostyle:link:not(#exclude),
.nostyle:visited:not(#exclude) {
  text-decoration: none;
  font-weight: bold;
  color: #03a99d;
  cursor: pointer;
}

.nostyle1:link:not(#exclude),
.nostyle1:visited:not(#exclude) {
  text-decoration: none;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
