/* General Code */
/* SendMessagePopup uses the following style rules */
/* ReadMessagePopup require modifications done at the end */

.letterpopup-classes-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 10;
}

.letterpopup-classes-cross {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 3rem;
  margin-right: 3rem;

  width: 3rem;
  height: 3rem;

  background-image: url('./../../imageassets/closecross.svg');
  background-size: contain;

  cursor: pointer;
}

.letterpopup-classes-message {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);

  background-image: url('./../../imageassets/letter-coloured.svg');
  background-color: rgba(0, 0, 0, 0) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50vw;
  height: 50vw;

  max-width: 70vh;
  max-height: 70vh;
}

.letterpopup-classes-form {
  position: initial;

  height: 100%;
  height: -webkit-fill-available;
}

.letterpopup-classes-messageBoxesWrapper {
  position: relative;
  height: 40%;
  top: 20%;
  left: 20%;
  width: 60%;
}

.letterpopup-classes-sendTo {
  position: relative;
}

.letterpopup-classes-sendToTextField {
  width: 100%;
}

.letterpopup-classes-messageBody {
  position: relative;
  margin-top: 3rem;
}

.letterpopup-classes-messageTextField {
  width: 100%;
}

.letterpopup-classes-sendButton {
  position: absolute;
  left: 50%;
  top: 80%;

  transform: translateX(-50%);
}

/* phone breakpoint */
@media only screen and (max-width: 768px) {
  .letterpopup-classes-messageBody {
    margin-top: 0rem;
  }

  .letterpopup-classes-messageBoxesWrapper {
    top: 25%;
  }

  .letterpopup-classes-message {
    background-image: url('./../../imageassets/letter-coloured-mobile.svg');
    background-position: center;
    width: 70vw;
    height: 90vw;
  }

  .letterpopup-classes-sendButton {
    position: absolute;
    left: 50%;
    top: calc(50% + 12vh);
    transform: translateX(-50%) scale(0.75);
  }
}

/*/////////////////////////////////////////////*/
/* Specific Modifications for ReadMessagePopup */
/*/////////////////////////////////////////////*/

.letterpopup-classes-message
  > div.letterpopup-classes-messageBoxesWrapper
  > div.letterpopup-classes-messageBody {
  margin-top: 1rem;
}
.letterpopup-classes-message > div.letterpopup-classes-messageBoxesWrapper {
  overflow-y: auto;
  height: 37%;
}
.letterpopup-classes-dateTime {
  position: absolute;
  right: 8.5vw;
  top: 3vw;
  width: 4vw;
  font-size: 1vw;
}
.letterpopup-classes-left-arrow {
  position: fixed;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3rem;
  margin-left: 3rem;

  transform: translateY(-50%);

  background-image: url('./../../imageassets/arrow-left.svg');
  background-color: rgba(0, 0, 0, 0) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;
}
.letterpopup-classes-right-arrow {
  position: fixed;
  right: 0;
  top: 50%;
  height: 50%;
  width: 3rem;
  margin-right: 3rem;

  transform: translateY(-50%);

  background-image: url('./../../imageassets/arrow-right.svg');
  background-color: rgba(0, 0, 0, 0) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;
}
@media only screen and (max-width: 711px) {
  .letterpopup-classes-left-arrow {
    transform: translateY(-50%);
    margin-left: 1.2vw;
  }
  .letterpopup-classes-right-arrow {
    transform: translateY(-50%);
    margin-right: 1.2vw;
  }
}

/* phone breakpoint */
@media only screen and (max-width: 768px) {
  .letterpopup-classes-message
    > div.letterpopup-classes-messageBoxesWrapper
    > div.letterpopup-classes-messageBody {
    margin-top: 0;
  }

  .letterpopup-classes-dateTime {
    right: 12vw;
    top: 11vw;
    width: 12vw;
    font-size: 2.5vw;
  }
}

/*/////////////////////////////////////////////*/
/* Specific Modifications for ReadMessagePopup */
/*/////////////////////////////////////////////*/

.letterpopup-classes-root.letterpopup-classes-disabled {
  visibility: hidden;
}

@media only screen and (min-width: 1080px) and (max-width: 1300px) and (min-height: 800px) and (max-height: 1200px) {
  .letterpopup-classes-dateTime {
    transform: scale(0.6);
    right: 8vw;
    top: 5.1vh;
    width: 8vw;
    font-size: 2.5vmin;
  }
}

@media only screen and (min-width: 330px) and (max-width: 400px) {
  .search {
    margin-left: -4vw;
  }
}

@media only screen and (min-width: 300px) and (max-width: 329.9px) {
  .search {
    margin-left: -9vw;
  }
}

@media only screen and (min-width: 260px) and (max-width: 299.9px) {
  .search {
    margin-left: -9vw;
  }
}
