/* General Code */
/* SendMessagePopup uses the following style rules */
/* ReadMessagePopup require modifications done at the end */

.letterpopup-classes-root1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.letterpopup-classes-cross1 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 3rem;
  margin-right: 3rem;
  width: 3rem;
  height: 3rem;
  background-image: url('./../../imageassets/closecross.svg');
  background-size: contain;
  cursor: pointer;
}

/* phone breakpoint */

/*/////////////////////////////////////////////*/
/* Specific Modifications for ReadMessagePopup */
/*/////////////////////////////////////////////*/

.letterpopup-classes-root.letterpopup-classes-disabled1 {
  visibility: hidden;
}

.letterpopup-classes-cross1 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url('./../../imageassets/closecross.svg');
  background-size: contain;

  cursor: pointer;
}

.letterpopup-classes-cross2 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.2rem;
  margin-right: 1.2rem;
  color: #fffbeb;
  width: 3rem;
  height: 3rem;
  background-size: contain;

  cursor: pointer;

  z-index: 110;
}

.letterpopup-classes-icon1 {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 1rem;
  transform: scale(1);
  margin-left: 1.2rem;
  color: #fffbeb;
  padding-top: 3px;
  border: 1px solid red;
}
.karge:hover {
  color: red;
}
.search1 {
  margin-left: -3.5vw;
}

.letterpopup-classes-message1 {
  padding-top: 100px;
  margin: auto;
  border-radius: 30px;
  width: 100vw;
  height: max-content;
}
.letterpopup-classes-form1 {
  position: initial;
  background-color: #fffde8;
  box-shadow: 5px 5px 2px rgb(66, 85, 72);
  border-radius: 18px;
  padding: 30px;
  width: max-content;
  height: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letterpopup-classes-messageBoxesWrapper1,
.letterpopup-classes-sendTo1,
.letterpopup-classes-sendToTextField1,
.letterpopup-classes-messageBody1,
.letterpopup-classes-messageTextField1,
.letterpopup-classes-sendButton1 {
  width: 100%;
  margin: auto !important;
}

.letterpopup-classes-messageBoxesWrapper1 {
  width: 100%;
  padding-bottom: 20px;
}

.letterpopup-classes-sendButton1 {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 780px) {
  .letterpopup-classes-message1 {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 30px;
  }
}
