/* General Code */
/* SendMessagePopup uses the following style rules */
/* ReadMessagePopup require modifications done at the end */

.letterpopup-classes-root1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.letterpopup-classes-cross1 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 3rem;
  margin-right: 3rem;
  width: 3rem;
  height: 3rem;
  background-image: url('./../../imageassets/closecross.svg');
  background-size: contain;
  cursor: pointer;
}

/* phone breakpoint */

/*/////////////////////////////////////////////*/
/* Specific Modifications for ReadMessagePopup */
/*/////////////////////////////////////////////*/

.letterpopup-classes-root.letterpopup-classes-disabled1 {
  visibility: hidden;
}
.letterpopup-classes-form1 {
  position: absolute;
  height: 100%;
  height: -webkit-fill-available;
}

.letterpopup-classes-cross1 {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url('./../../imageassets/closecross.svg');
  background-size: contain;

  cursor: pointer;
}

.letterpopup-classes-icon1 {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 1rem;
  transform: scale(1);
  margin-left: 1.2rem;
  color: #fffbeb;
  padding-top: 3px;
  border: 1px solid red;
}
.karge:hover {
  color: red;
}
.search1 {
  margin-left: -3.5vw;
}
.letterpopup-classes-sendToTextField1 {
  width: 120%;
}
.letterpopup-classes-message1 {
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 30px;
  width: 90.9vw;
  height: 86.9vh;
  max-width: 90.9vw;
  max-height: 86.9vh;
}
.letterpopup-classes-form1 {
  position: initial;
  background-color: #fffde8;
  box-shadow: 5px 5px 2px rgb(66, 85, 72);
  border-radius: 18px;
  height: 100%;
  height: -webkit-fill-available;
}
.letterpopup-classes-messageBoxesWrapper1 {
  position: relative;
  height: 80%;
  top: 29%;
  left: 20%;
  width: 60%;
}
.letterpopup-classes-sendButton1 {
  position: absolute;
  left: 50%;
  top: 80%;
  background-color: #ef4646;
  transform: translateX(-50%);
}

.letterpopup-classes-sendTo1 {
  position: relative;
  margin-top: 3rem;
}

.letterpopup-classes-sendToTextField1 {
  width: 100%;
}

.letterpopup-classes-messageTextField1 {
  width: 60vw;
}

.letterpopup-classes-sendButton1 {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
}
