.c1 {
  margin-top: 1.7vh;
  padding: 2.2vw;
}
.c2 {
  margin-top: 1.9vh;
  padding: 4.2vw;
  margin-left: 2.9vw;
}
.cA {
  width: 100%;
}
.hexad {
  width: 100vw;
  position: absolute;
  background-color: #fffde8;
  margin-top: -3.1vh;
}

.ter {
  position: fixed;
  margin-left: 82vw;
  margin-top: 60vh;
  z-index: 1;
}
@media only screen and (min-width: 709px) and (max-width: 1000px) {
  .ter {
    margin-left: 87vw;
    margin-top: 70vh;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .ter {
    margin-left: 91vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1479px) {
  .ter {
    margin-left: 93.9vw;
    margin-top: 69vh;
  }
}
@media only screen and (min-width: 1479px) and (max-width: 1800px) {
  .ter {
    margin-left: 92vw;
    margin-top: 69vh;
  }
}

#root {
  overflow-x: hidden;
}

.tera {
  transform: scale(3.1);
}
@media only screen and (min-width: 552px) and (max-width: 708px) {
  .tera {
    transform: scale(2.3);
  }
}
@media only screen and (min-width: 312px) and (max-width: 420px) {
}
@media only screen and (min-width: 402px) and (max-width: 619px) {
  .tera {
    transform: scale(2.2);
  }
}

@media only screen and (min-width: 200px) and (max-width: 320px) {
  .tera {
    transform: scale(1.8);
  }
}
@media only screen and (min-width: 376px) and (max-width: 415px) {
  .tera {
    transform: scale(1.9);
  }
}
@media only screen and (min-width: 321px) and (max-width: 375.7px) {
  .tera {
    transform: scale(1.78);
  }
}
@media only screen and (min-width: 300px) and (max-width: 320.99px) {
  .tera {
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 759px) {
  .set1::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .set1::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .set1::-webkit-scrollbar-thumb {
    background: #ef4646;
  }

  /* Handle on hover */
  .set1::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media only screen and (min-height: 600px) and (max-height: 800px) and (min-width: 500px) and (max-width: 1650px) {
}
@media only screen and (max-height: 880px) and (min-width: 880px) {
  #color1 {
    height: 165vh;
  }
}

.baxter {
  color: #ef4646;
  font-family: 'Oxygen';
  margin-left: 33vw;
}
@media only screen and (min-width: 1102px) and (max-width: 1819px) {
  .baxter {
    margin-left: 36vw;
  }
}
.nav {
  overflow-x: hidden;
  height: 150%;
  overflow-y: hidden;
}
@media only screen and (min-width: 708px) and (max-width: 1000px) {
  .baxter {
    margin-left: 25vw;
  }
}
@media only screen and (min-width: 250px) and (max-width: 707.9px) {
  .baxter {
    margin-left: 22vw;
    transform: scale(0.7);
  }
}

@media only screen and (min-height: 0px) and (max-height: 600px) and (min-width: 500px) and (max-width: 1907.9px) {
  .ken {
    font-size: 11px;
  }
}
@media only screen and (min-height: 0px) and (max-height: 430.9px) {
  .ter {
    margin-top: 41px;
  }
}
